body {
    font-family:"Luckiest Guy", cursive;
    background: rgb(129,4,4);
background: linear-gradient(180deg, rgba(129,4,4,1) 3%, rgba(59,8,8,1) 23%, rgba(10,10,10,1) 65%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.header-image {
    position: absolute;
    top: 0;
    left: 100;
    max-width: 500px; 
    z-index: 1;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 60px;
    color: #fff;
    margin-bottom: 50px;
}



.buttons-container {
    margin-top: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.btn {
    padding: 10px 20px;
    margin: 10px;
    font-size: 26px;
    font-family:"Luckiest Guy", cursive;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #810404;
    color: #fff;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #b40909;
}

